.btn {
    color: initial;
    padding: 0.7em;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    margin: 0.2em;
    pointer-events: all !important;
}

.btn-ok {
    border-color: #4caf50;
}

.btn-ok:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.btn-cancel {
    border-color: #a5a5a5;
}

.btn-cancel:hover {
    background-color: #a5a5a5; 
    color: white;
}

.no-events {
    pointer-events: none;
}

.btn-select {
    border-color: #00bcd4;
}

.btn-select:hover {
    background-color: #00bcd4;
    color: white;
}


